body{
    background-color: #171b1f;
    font-family: "Caveat", serif;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    width: 800px;
}

header{
    display: flex;
    align-items: center;
}

.logo{
    width: 150px;
    height: 150px;
}

.main-nav>a{
    color: rgb(111 117 127);
    text-decoration: none;

}